*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.left{
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
  text-align: center;
  font-size: 1.6vmax;
}

.right{
    width: 60%;
    height: 100%;
    background: linear-gradient(#7B8FA1,#CFB997);
}

.bio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25%;
    font-size: 2vmax;
    transform: translateX(30%);

}

.bio .name{
    font-size:4vmax ;
    font-family: "Syne Mono";
    transform: translateX(30%);
    margin: 5% 0;
}

.bio .ui{
    transform: translateX(20%);
    border: 2px solid grey;
    padding: .7vmax 1vmax;
    color: black;
    background-color: #CFB997;
}



.img>img{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    border-radius: 50%;
}

.img{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 15%;
    background-color: grey;
    color: white;
}

.container1{
    width: 100%;
    height: 80%;
    display: flex;
}

.left1{
    width: 50%;
    height: 100%;
    /* background-color: #CFB997; */
}

.right1{
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */
}

.img1{
    width: 50%;
    height: 50%;
    background-color: black;
 margin: 20% 20%;
}

.img1>img{
    width: 100%;
    height: 100%;
    transform: translate(30px,30px);
}

.head{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 3%;
    font-family: Montserrat;
}

.head>h1{
    margin-bottom: 5% ;
    font-family: syne Mono;
}

.head>p{
    width: 50%;
    margin: 2%;
}

.who{
    transform: translateY(20px);
}

.container2{
    width: 100%;
    height: 100%;
    text-align: center;
  

}

.flex1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex1{
    padding: 2% 15%;
}

.one{
    width: 20%;
    height: 30%;
    background-color: yellow;
    margin: 3%
}

.one img{
    width: 100%;
    height: 100%;
}
.flex2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}




